/*
* general
**/
*,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Play", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #dfe7ec;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.container {
    height: 100%;
}

/*
**------------------------------------------------------
* header 
**/
.n_header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background: #3a3c37 !important;
    z-index: 20;
     columns: white !important;
}
.nav-link{
     color: white !important;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
header .logo {
    margin: auto 0 auto auto;
}

header .logo img,
header .logo svg {
    max-width: 120px;
    max-height: 90px;
}

header .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
}
header .main-menu > li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    line-height: 26px;
}

header .main-menu > li > a {
    display: inline-block;
    padding: 4px 17px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
header .main-menu > li > a:hover,
header .main-menu > li > a:focus {
    border: 1px solid #fff;
}

/*
**------------------------------------------------------
* main 
**/

/* form section*/
#form-section {
    position: relative;
}
#form-section .lpimg {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
   .widget{
       position: unset !important;
   }
   #form-section .feedback-form{
       margin: auto;
   }
   .m-200{
       margin-left: 0px !important;
   }
  }
#form-section .widget {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}
#form-section .container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#form-section .widget summary {
    background: rgba(165, 166, 106, 0.9);
    text-align: center;
    min-width: 250px;
    max-width: 500px;
}

#form-section .widget summary h2 {
    padding: 30px 30px 10px;
    font-size: 32px;
    font-weight: bold;
}
#form-section .widget summary h4 {
    padding: 10px 30px 30px;
    font-size: 20px;
    font-weight: bold;
}
#form-section .form-conatiner {
    margin-right: 0;
    margin-left: auto;
}
#form-section .feedback-form {
    background: #fff;
    width: 360px;
    padding: 30px 20px;
}
#form-section .feedback-form h2 {
    color: #10332c;
    font-size: 35px;
    font-weight: bold;
}
#form-section .feedback-form .form-group {
    margin: 1rem 0;
}
#form-section .feedback-form .form-group input {
    height: 50px !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 2px !important;
    padding: 0 5px !important;
}

#form-section .feedback-form .form-group select {
    height: 50px !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 2px !important;
    padding: 0 5px !important;
    color: #00263b;
    font-size: 16px;
    line-height: 1.42857143;
    font-family: inherit;

    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
}

#form-section .feedback-form button {
    text-transform: lowercase;
    color: #fff;
    background: #10332c;
    border: 1px solid #00263b;
    font-size: 18px;
    border-radius: 2px;
    min-width: 150px;
    height: 50px;
    text-align: center;
}
#form-section .feedback-form button:hover {
    color: #10332c;
    background: #fff;
    border: 1px solid #10332c;
}

@media screen and (max-width: 767px) {
    #form-section .landing-banner picture source {
        width: 100%;
    }
}

/*
**------------------------------------------------------
* footer
**/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 20;
}
footer .footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3c37;
    height: 100%;
    width: 100%;
    height: 50px;
}

footer .btn {
    padding: 0 22px;
    border-radius: 1px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-transform: lowercase;
    color: #fff;
    background: #10332c;
    border: 1px solid #00263b;
    text-align: center;
    width: 300px;
    min-width: 150px;
    text-decoration: none;
}
footer .btn:hover {
    color: #10332c;
    background: #fff;
    border: 1px solid #10332c;
}
body {
    padding-top: 100px;
    padding-bottom: 100px;
}
.second-section h1 {
    color: #10332c !important;
    margin: 40px 0 30px 0 !important;
}
.p-r-0{
    padding: 0px !important;
}
.p-l-0{
    padding: 0px !important;
}
.bk-color-b{
    background-color: #a5a66a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px !important;
}
.discover h1 {
    color: #10332c !important;
}
.saudi{
    width: 100%;
}
.wraper-saudi{
    padding: 15px;
    /* margin: 30px 0 30px 0; */
}
.wrraper{
    margin-bottom: 15px;
}
.m-200{
    margin-left:210px ;
}
.v-center{
    display: flex;
    align-items: center;
}